@{
    ViewBag.Title = "Liên hệ";
}

@section Styles {
    <link href="~/Content/about.css" rel="stylesheet" />    
}

<div class="container about">
    <div class="row intro">
        <div class="col-md-6">
            <img src="http://en.vanlanguni.edu.vn/images/2018/11/03/banner-002.jpg" alt="Alternate Text" />
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <span class="h3">Thông tin liên hệ</span>
                <div class="font-weight-light">Bộ phận quan hệ doanh nghiệp</div>
            </div>

            <dl class="row">
                <dt class="col-sm-3">Website</dt>
                <dd class="col-sm-9">
                    <a href="https://ejob.vanlanguni.edu.vn/" target="_blank">https://ejob.vanlanguni.edu.vn/</a>
                </dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">
                    <a class="text-dark" href="mailto: qhdn@vanlanguni.edu.vn">qhdn@vanlanguni.edu.vn</a>
                </dd>

                <dt class="col-sm-3 text-truncate">Điện thoại</dt>
                <dd class="col-sm-9">
                    <a class="text-dark" href="tell:02871099224">(028) 71099 224</a>
                </dd>

                <dt class="col-sm-3">Văn phòng</dt>
                <dd class="col-sm-9">
                    <span>P. 2.02, toà nhà LV, Cơ sở 3</span>
                    <div>
                        80/68 Dương Quảng Hàm, P.5, Q. Gò Vấp, TP.HCM
                        <br />
                        69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP.HCM
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
