.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 90%;
}

.login-logo {
    position: relative;
    margin-left: -41.5%;
}

    .login-logo img {
        position: absolute;
        width: 20%;
        margin-top: 19%;
        background: #fff;
        border-radius: 4.5rem;
        padding: 4%;
    }

.login-form-1 {
    padding: 9%;
    background: #0b9898d9;
    box-shadow: 0 5px 8px 0 rgba(31, 44, 80, 0.87), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

    .login-form-1 h3 {
        text-align: center;
        margin-bottom: 12%;
        color: #fff;
    }

.login-form-2 {
    padding: 9%;
    background: #931010e0;
    box-shadow: 0 5px 8px 0 rgba(31, 44, 80, 0.87), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

    .login-form-2 h3 {
        text-align: center;
        margin-bottom: 12%;
        color: #fff;
    }

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    /*border: none;*/
    border-radius: 1.5rem;
    padding: 2%;
}

    .btnSubmit:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }

}

.btnForgetPwd {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

    .btnForgetPwd:hover {
        color: aquamarine;
    }

.form-group {
    text-align: center !important;
}

    .form-group h5 {
        color: moccasin !important;
    }

body {
    background: url('../Assets/img/login/HoctaiCS3-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
}


.modal.fade {
    opacity: 1;
    background-color: #0d363c99;
}

    .modal.fade .modal-dialog {
        margin-top: 12%;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        transform: translate(0);
    }

.modal-header {
    background-color: brown;
}

    .modal-header .modal-title {
        margin: 0 auto;
    }

/*Login Dialog*/
.labelLogin {
    text-align: center;
}
/*New Button Style*/
.myButt {
    outline: none;
    border: none;
    padding: 20px;
    display: block;
    margin: 50px auto;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
    position: relative;
    border: 2px solid #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.one {
    border-color: #fff;
    overflow: hidden;
    color: #fff;
    border-radius: 50px;
    padding: 5%;
}

    .one .insider {
        background-color: #fff;
        width: 100%;
        height: 20px;
        position: absolute;
        left: -195px;
        transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
    }

    .one:hover {
        background-color: #dd4141e6;
        border-color: #fff;
        color: #fff;
    }

.vlu:hover {
    background-color: #4dd1c7e6;
    border-color: #fff;
    color: #fff;
}

.one:hover .insider {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    left: 195px;
}

/*For Sweetalert Style*/
.swal-text {
    text-align: center !important;
    margin: 10px !important;
    font-family: "Roboto";
}
