/* --------------------------
    NAVIGATOR
-----------------------------*/
.navbar {
    transition: .2s ease-out;
    z-index: 1000;
}

.fixed {
    position: fixed !important;
}

.navbar.fixed {
    top: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

    .navbar.fixed:not(.navbar_absolute) ~ .mainContainer {
        margin-top: 81px;
    }

.navbar_absolute {
    position: absolute;
    top: 0;
    left: 0;
}

/* --------------------------
    HEADER SEARCHING
-----------------------------*/
.header_searching {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.mini_heading .header_searching {
    height: 400px !important;
}

    .mini_heading .header_searching .search_area {
        padding-top: 120px;
    }

#search_gradient {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(3, 3, 3, 0.73) 0%, rgba(58, 58, 58, 0.38) 15%, rgba(0, 0, 0, 0.08) 100%);
}

.search_area {
    position: relative;
    z-index: 20;
    padding-top: 250px;
}

/* --------------------------
    JOBs POPULAR
-----------------------------*/
.card__job .card, .card__job .card p {
    height: 100%;
}

    .card__job .card:hover {
        background: #fff;
        border-color: #fff;
        -webkit-box-shadow: 0 1.25rem 6.25rem 0 rgba(0,0,0,.1);
        box-shadow: 0 1.25rem 6.25rem 0 rgba(0,0,0,.1);
    }

        .card__job .card:hover p {
            color: #000;
        }

.card__job .logo {
    height: 190px;
    background: #fff;
    padding: 0 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

    .card__job .logo img {
        align-self: center;
    }

/* --------------------------
    RESPONSIVE
-----------------------------*/
/* MOBILE */
@media (max-width: 450px) {
    footer .footer_logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        footer .footer_logo img {
            height: 4rem;
        }

    .mini_heading .header_searching .search_area {
        padding-top: 70px;
    }
}
