.lblReject {
    font-weight: 300;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.btnCyan {
    color: #098382;
    background: #3c928e1a;
    border-radius: 50px;
    border: 2px solid;
    padding: 5px 10px;
}
.btnSubmit {
    width: 150px;
    text-align: center;
    float: right;
    background-color: #20838f;
    box-shadow: 0px 1px 5px -1px black;
}
/*Style for button gradient*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-hover {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 15px;
    height: 50%;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
    .btn-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .btn-hover:focus {
        outline: none;
    }
    .btn-hover.color-1 {
        background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    }