@model IEnumerable<TrangTuyenDung.Models.Recruitment>

<div class="right-sidebar sticky-top" style="top:-8rem">
    <div class="widget widget-jobs">
        <div class="sd-title">
            <h3>Công việc hàng đầu</h3>
        </div>
        <div class="jobs-list">
            @foreach (var item in Model.OrderByDescending(x => x.Nums_view).Take(10)) {
                <div class="job-info">
                    <div class="job-details">
                        <a href="@Url.Action("Detail","Recruitment",new { area="", id=item.Id})"><h3>@item.title</h3></a>
                        @*<ul class="skill-tags">
                                @foreach (var tag in item.Tags_Recruitments)
                                {
                                    <li><a href="#" title="">@tag.Tag.Name_Tag</a></li>

                                }

                            </ul>*@

                    </div>
                    <div class="hr-rate">
                        <span style="font-size:10px;color:gray"> <i class="fas fa-eye"></i> : @item.Nums_view</span>
                    </div>
                </div>
            }
        </div><!--jobs-list end-->
    </div><!--widget-jobs end-->

    <div class="widget suggestions full-width">
    </div>
</div><!--right-sidebar end-->
