@model TrangTuyenDung.Models.User_In_Company

<a href="#">
    <div class="user-avatar status-online">
        @*<img src="~/Assets/img_Company/Dashboard/businessman.png" alt="">*@
        <img src="@Url.Content("~/App_Data/Company/Logos/" + Model.Company_id + "?RandomKey=" + ViewBag.Random)" style="max-width:150px;max-height:100px" alt="Logo" />
    </div>
</a>
